#container{
    width: 800px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    /* float: left; */
}

#main_container{
    
    height: 1500px;
width: 80%;
display: block;
margin: 0 auto;
box-sizing: border-box;
}