body{
  display: flex;
  flex-direction: column;
}

.home_imgs{
    box-sizing: border-box;
    /* float: left; */
    padding: 2px;
    width: 20%;
    transition: all 0.4s ease-in-out;
}
img{
    width: 140px;
    height: 140px;
    
}

footer{
    width: 800px;
    text-align: center;
    margin-top: 200px;
}
header{
    text-align: center;
}

  .div {
    background-color: rgb(226, 59, 87);;
    display: inline-block;
    width: 20%;
    margin-left: 2%;
    margin-top: 2%;
    height: 300px;
    overflow: hidden;
  }


  .h2{
    font-size: 20px;
    font-weight: bold;
    margin-left: 2%;
    margin-bottom: 2%;
  }
  
  .p{
    font-size: 15px;
    margin-left: 2%;
    margin-bottom: 2%;
  }